<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiejun.demo.mapper.TransactionRecordsMapper">
    <resultMap id="BaseResultMap" type="com.tiejun.demo.domain.TransactionRecord">
        <id column="transaction_id" jdbcType="BIGINT" property="transactionId"/>
        <result column="transaction_time" jdbcType="TIMESTAMP" property="transactionTime"/>
        <result column="source_account_id" jdbcType="BIGINT" property="sourceAccountId"/>
        <result column="target_account_id" jdbcType="BIGINT" property="targetAccountId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        transaction_id, transaction_time, source_account_id, target_account_id,
        amount, `status`, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from transaction_records
        where transaction_id = #{transactionId,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.tiejun.demo.domain.TransactionRecord">
        <!--@mbg.generated-->
        insert into transaction_records (transaction_id, transaction_time,
                                         source_account_id, target_account_id,
                                         amount, `status`)
        values (#{transactionId,jdbcType=BIGINT}, #{transactionTime,jdbcType=TIMESTAMP},
                #{sourceAccountId,jdbcType=BIGINT}, #{targetAccountId,jdbcType=BIGINT},
                #{amount,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.tiejun.demo.domain.TransactionRecord">
        update transaction_records
        set transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
        source_account_id = #{sourceAccountId,jdbcType=BIGINT},
        target_account_id = #{targetAccountId,jdbcType=BIGINT},
        amount = #{amount,jdbcType=DECIMAL},
        `status` = #{status,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where transaction_id = #{transactionId,jdbcType=BIGINT}
    </update>
</mapper>